NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_APP_NAME=Nigerian Community Admin
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub-2cd23ddf0011462bb9af07acda8999e0.r2.dev
