@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #007521;
  --color-primary-hover: #006319;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
